alembic
certifi
chardet
decorator
docker
docker-pycreds
dockerspawner
escapism
idna
ipython-genutils
Jinja2
jupyterhub
Mako
MarkupSafe
oauthenticator
pamela
python-dateutil
python-editor
python-oauth2
requests
six
SQLAlchemy
tornado
traitlets
urllib3
websocket-client
