ipympl
widgetsnbextension
bash-kernel
bleach
certifi
configparser
cycler
decorator
entrypoints
enum34
functools32
future
gyp
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-launcher
MarkupSafe
mistune
nbconvert
nbformat
notebook
pandocfilters
pathlib2
pexpect
pickleshare
prompt-toolkit==1.0.15
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scandir
simplegeneric
singledispatch
six
subprocess32
terminado
testpath
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
