ipympl
widgetsnbextension
alembic
bash-kernel
bleach
certifi
chardet
cycler
decorator
entrypoints
future
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterhub
jupyterlab
jupyterlab-launcher
Mako
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pamela
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit==1.0.15
ptyprocess
Pygments
pyparsing
python-dateutil
python-editor
python-oauth2
pytz
pyzmq
qtconsole
requests
simplegeneric
six
SQLAlchemy
terminado
testpath
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
